@import "tailwindcss";

@theme {
  --color-primary: #244235;
  --color-primary-dark: #1b3127;
  --color-secondary: #1d3557;
  --color-background: #faf9f7;
  --color-surface: #ffffff;
  --color-text-main: #1c1b1a;
  --color-text-muted: #525252;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
  }
}
